certifi==2025.1.31
charset-normalizer==3.4.1
clickhouse-connect==0.8.15
colorama==0.4.6
docopt==0.6.2
dotenv==0.9.9
idna==3.10
iniconfig==2.0.0
loguru==0.7.3
lz4==4.4.3
packaging==24.2
pip-check==2.9
pipreqs==0.4.13
pluggy==1.5.0
pytest~=8.3.4
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
terminaltables==3.1.10
urllib3==2.3.0
win32_setctime==1.2.0
yarg==0.1.10
zstandard==0.23.0

ccxt~=4.4.49
pandas~=2.2.3